<div class="container text-white">
    <h1 class="text-6xl text-center font-bold mb-8">
        Tamaños de texto
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="text-xs">Soy un texto xs</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="text-base">Soy un texto base</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="text-lg">Soy un texto lg</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="text-xl">Soy un texto xl</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="text-2xl">Soy un texto 2xl</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="text-9xl">Soy un texto 9xl</p>
        </div>
    </div>

    <hr class="my-8 border-gray-700">
    <h1 class="text-6xl text-center font-bold mb-8">Estilos y peso de texto</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="font-thin">Soy un texto thin</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="font-light italic">Soy un texto light italic</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="font-normal">Soy un texto normal</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="font-semibold">Soy un texto semibold</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="font-bold">Soy un texto bold</p>
        </div>
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
            <p class="font-extrabold">Soy un texto extrabold</p>
        </div>
    </div>


    <hr class="my-8 border-gray-700">
    <div class="container mx-auto px-4 py-8">
        <!-- Color de fuente -->
        <h1 class="text-6xl text-center font-bold mb-8 ">Color de fuente</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-8">
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="text-purple-50">Soy un texto purple 50</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="text-purple-950 opacity-50">Soy un texto purple 950 opacity 50</p>
            </div>
        </div>

        <hr class="my-8 border-gray-300">

        <!-- Espaciado de texto -->
        <h1 class="text-6xl text-center font-bold mb-8 ">Espaciado de texto</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="tracking-tighter leading-none">Soy un texto tracking tighter</p>
                <p class="leading-none">Soy un texto leading none</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="tracking-normal leading-none">Soy un texto tracking normal</p>
                <p class="leading-none">Soy un texto leading none</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="tracking-widest leading-loose">Soy un texto tracking widest</p>
                <p class="leading-loose">Soy un texto leading loose</p>
            </div>
        </div>

        <hr class="my-8 border-gray-300">

        <!-- Alineación de texto -->
        <h1 class="text-6xl text-center font-bold mb-8 ">Alineación de texto</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="text-left">Soy un texto left</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="text-center">Soy un texto center</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="text-right">Soy un texto right</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="text-justify">
                    Soy un texto justify <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptates animi impedit
                    nostrum repellendus? Sit accusamus, tempore numquam possimus ea perferendis ab velit provident id
                    fuga
                    voluptatem praesentium ratione magni!
                </p>
            </div>
        </div>

        <hr class="my-8 border-gray-300">

        <!-- Decoración y transformación -->
        <h1 class="text-6xl text-center font-bold mb-8">Decoración y transformación</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="underline">Soy un texto underline</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="overline">Soy un texto overline</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="line-through">Soy un texto line-through</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="uppercase">Soy un texto uppercase</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="lowercase">Soy un texto lowercase</p>
            </div>
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg">
                <p class="capitalize">Soy un texto capitalize</p>
            </div>
        </div>

        <hr class="my-8 border-gray-300">

        <!-- Truncado y desbordamiento -->
        <h1 class="text-6xl text-center font-bold mb-8 ">Truncado y desbordamiento</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-8">
            <div class="bg-gray-800 p-4 rounded-lg shadow-lg w-48 overflow-hidden">
                <p class="truncate whitespace-nowrap">
                    Soy un texto truncado <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque error maxime, repellat soluta
                    ducimus culpa ullam repudiandae laudantium mollitia fugiat repellendus!
                </p>
            </div>
        </div>

        <hr class="my-8 border-gray-300">

        <!-- Sombras en texto -->
        <h1 class="text-6xl text-center font-bold mb-8 ">Sombras en texto</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-8">
            <div class="bg-gray-50 p-4 rounded-lg shadow-lg">
                <p class="text-shadow-sm">Soy un texto shadow sm</p>
            </div>
            <div class="bg-gray-50 p-4 rounded-lg shadow-lg">
                <p class="text-shadow-lg">Soy un texto shadow lg</p>
            </div>
        </div>
    </div>
</div>
