<div class="text-center text-white py-8 container mx-auto">
  <h1 class="text-3xl md:text-4xl font-extrabold text-blue-500 mb-6">Introducción</h1>
  <p class="text-lg md:text-xl text-gray-300 text-start mx-auto max-w-3xl mb-8">
    Tailwind CSS es un framework de clases de utilidad que permite diseñar interfaces de usuario directamente en el
    HTML, sin necesidad de escribir CSS personalizado. A diferencia de otros frameworks que proporcionan componentes
    predefinidos, Tailwind ofrece control total sobre el diseño, permitiendo una personalización completa. Es rápido,
    eficiente y optimiza el tamaño del CSS usando un compilador JIT (Just-In-Time) que genera solo las clases que se
    usan en el proyecto. Es ideal para proyectos pequeños, medianos y grandes, y se integra fácilmente con frameworks
    modernos como React, Angular, Vue y Laravel.
  </p>
  <div class="flex items-center justify-center my-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 px-4">
      <div class="w-full">
        <h1 class="text-xl font-bold mb-4">Ventajas</h1>
        <ul class="space-y-4 text-gray-300 text-start">
          <li><span class="font-bold text-blue-500">Alta Personalización</span><br>Tailwind permite diseñar interfaces
            completamente a medida, sin depender de estilos o componentes predefinidos.</li>
          <li><span class="font-bold text-blue-500">Desarrollo Ágil</span><br>Gracias a las clases de utilidad, puedes
            aplicar estilos rápidamente sin necesidad de escribir CSS adicional.</li>
          <li><span class="font-bold text-blue-500">Optimización del Tamaño</span><br>Con el compilador JIT, solo se
            genera el CSS necesario, lo que reduce el tamaño del archivo final.</li>
          <li><span class="font-bold text-blue-500">Escalabilidad</span><br>Tailwind es ideal tanto para proyectos
            pequeños como grandes, adaptándose a las necesidades de cualquier tipo de aplicación web.</li>
          <li><span class="font-bold text-blue-500">Integración Fácil</span><br>Se integra sin problemas con frameworks
            modernos como React, Angular, Vue, y sistemas de backend como Laravel.</li>
          <li><span class="font-bold text-blue-500">Mantenimiento Simplificado</span><br>Su enfoque modular facilita la
            actualización y modificación del diseño sin complicaciones.</li>
        </ul>
      </div>
      <div class="w-full">
        <h1 class="text-xl font-bold mb-4">Desventajas</h1>
        <ul class="space-y-4 text-gray-300 text-start">
          <li><span class="font-bold text-blue-500">Curva de Aprendizaje Inicial</span><br>Puede llevar algo de tiempo
            adaptarse a trabajar solo con clases de utilidad, especialmente si estás acostumbrado a otros frameworks con
            componentes predefinidos.</li>
          <li><span class="font-bold text-blue-500">HTML Más Complejo</span><br>El uso intensivo de clases en el HTML
            puede hacerlo más extenso y difícil de leer.</li>
          <li><span class="font-bold text-blue-500">Sin Componentes Predefinidos</span><br> A diferencia de otros
            frameworks, Tailwind no ofrece componentes listos para usar, lo que requiere más trabajo en la parte del
            diseño.</li>
          <li><span class="font-bold text-blue-500">Dependencia de Configuración</span><br>Para aprovechar al máximo
            Tailwind, es necesario configurar adecuadamente el archivo tailwind.config.js, lo cual puede ser un desafío
            para quienes recién comienzan.</li>
        </ul>
      </div>
    </div>
  </div>
  <h1 class="text-1xl md:text-2xl font-extrabold mb-4">Documentación</h1>
  <p class="text-base md:text-lg text-gray-300 text-start mx-auto max-w-3xl mb-2">
    Para profundizar más en los detalles de Tailwind CSS, su configuración, personalización y mejores prácticas, puedes
    acceder a la documentación oficial. Esta proporciona guías completas, ejemplos, y recursos para aprender a utilizar
    Tailwind de manera efectiva.
  </p>
  <a href="https://tailwindcss.com/docs/installation" class="text-blue-500 font-bold text-center">Tailwind CSS Documentation</a>
</div>
