<div class="text-center py-4 container">
  <h1 class="text-lg md:text-2xl font-bold text-blue-500 mb-2">
    Introducción
  </h1>
  <div class="flex items-center justify-center text-white">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="md:order-2 flex items-center">
        Tailwind CSS es un framework de clases de utilidad que permite construir interfaces de usuario sin escribir CSS
        personalizado. A diferencia de otros frameworks como Bootstrap o Foundation, Tailwind no proporciona componentes
        predefinidos, sino que ofrece clases específicas para controlar cada aspecto del diseño (espaciado, colores,
        tipografía, flexbox, etc.). Esto da como resultado un desarrollo más rápido, flexible y modular.
      </div>
      <div class="md:order-1">
        <img src="https://media.licdn.com/dms/image/v2/D4E12AQGwj7LqamfYSg/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1695308985823?e=2147483647&v=beta&t=Vuu6RdDPwFwdOfCYIExUu8JPMaYn1SnZBZ_yMqzvYo0" alt="">
      </div>
    </div>
  </div>


</div>
