<div class="flex">
    <div class="w-80 text-center colors">
        <div class="bg-blue-50">
            bg-blue-50
        </div>
        <div class="bg-blue-100">
            bg-blue-100
        </div>
        <div class="bg-blue-200">
            bg-blue-200
        </div>
        <div class="bg-blue-300">
            bg-blue-300
        </div>
        <div class="bg-blue-400">
            bg-blue-400
        </div>
        <div class="bg-blue-500">
            bg-blue-500
        </div>
        <div class="bg-blue-600">
            bg-blue-600
        </div>
        <div class="bg-blue-700">
            bg-blue-700
        </div>
        <div class="bg-blue-800">
            bg-blue-800
        </div>
        <div class="bg-blue-900">
            bg-blue-900
        </div>
        <div class="bg-gradient-to-r from-blue-200/90 to-green-700/50">
            bg-gradient-to-r from-blue-200/90 to-green-700/50
        </div>

    </div>


    <div class="w-80 mt-5">
        <div class="animate-bounce bg-green-500 p-4 text-white w-32 text-center">
            Reboto
        </div>
        <div class="animate-spin m-14 bg-green-500 p-4 text-white w-32 text-center">
            Mira como giro yuhuu
        </div>
        <div class="animate-ping m-14 bg-green-500 p-4 text-white w-32 text-center">
            Mira como desapaarezco
        </div>
        <div class="animate-pulse m-7 bg-green-500 p-4 text-white w-32 text-center">
            Tengo un pulso
        </div>

        <div
            class="mt-5 bg-blue-500 hover:bg-blue-700 focus:bg-green-900 active:bg-red-400 p-4 text-white text-center transition duration-300">
            Hover, Focus, Active
            <input type="text" class="focus:bg-green-900">
        </div>
        <div
            class="mt-7 bg-red-500 transform hover:scale-110 hover:rotate-6 transition duration-300 text-white p-4 text-center">
            ¡Mira cómo cambio!
        </div>
    </div>
</div>