<h1 class="text-center font-bold mb-4 text-3xl md:text-4xl">Componentes predefinidos</h1>
<div class="mx-auto max-w-3xl mb-8">
  <p class="text-lg md:text-xl text-gray-300 text-start">
    En Tailwind CSS, los componentes no son bloques predefinidos como en otros frameworks, sino que se crean combinando
    clases de utilidad. Este enfoque permite un alto grado de flexibilidad y personalización, ya que puedes construir
    cualquier tipo de componente directamente en el HTML sin necesidad de escribir CSS adicional. <br><br>
    Aquí podemos ver algunos ejemplos de componentes de pago y gratuitos de las siguientes paginas
  </p>
  <div class="text-center">
    <a href="https://tailwindui.com/components/" target="_blank" class="text-blue-500 font-bold text-center">Tailwind CSS UI (La mayoría
      de pago)</a>
    <br>
    <a href="https://www.hyperui.dev/" target="_blank" class="text-blue-500 font-bold text-center">HyperUI (Gratis)</a>
    <br>
    <a href="https://www.creative-tim.com/twcomponents" target="_blank" class="text-blue-500 font-bold text-center">Creative Tim
      (Componentes que publica la comunidad)</a>
    <br>
    <a href="https://tailwindflex.com/" target="_blank" class="text-blue-500 font-bold text-center">TailwindFlex (Componentes que
      publica la comunidad)</a>
  </div>
</div>

<div class="mx-auto max-w-3xl mb-8">
  <h1 class="text-2xl text-center font-bold">Tailwind CSS UI</h1>
  <div class="py-4">
    <h1 class="text-xl text-center mb-3">Selector de precios</h1>
    <shared-price-selector></shared-price-selector>
  </div>

  <h1 class="text-2xl text-center font-bold">HyperUI</h1>

  <div class="py-4 ">
    <h1 class="text-xl text-center mb-3">Post de un blog</h1>
    <sheared-blog-example></sheared-blog-example>
  </div>
  <div class="py-2">
    <h1 class="text-xl text-center mb-3">Formulario</h1>
    <sheared-form-example></sheared-form-example>
  </div>

  <h1 class="text-2xl text-center font-bold">Creative Tim</h1>

  <div class="py-2">
    <h1 class="text-xl text-center mb-3">Galería</h1>
    <shared-galery-post></shared-galery-post>
  </div>

  <h1 class="text-2xl text-center font-bold">TailwindFlex</h1>

  <div class="py-2">
    <h1 class="text-xl text-center mb-3">Card</h1>
    <div class="lg:grid grid-cols-2 gap-3">
      <sheared-card-example></sheared-card-example>
      <sheared-card-example-2></sheared-card-example-2>
    </div>
  </div>
</div>
